*/.lake
.DS_Store
*.json
*.hash
*.olean
*.ilean
*.trace
*.c
_site/
*.aux
*.pdf
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
web.*
print.*
.claude/*
*/blueprint/web/*
docs/-verso-js/*
docs/-verso-css/*
docs/*/*.css
*/.claude/*