name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read # Read access to repository contents
  pages: write # Write access to GitHub Pages
  id-token: write # Write access to ID tokens

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v5

      - name: Setup and build Lean files
        uses: leanprover/lean-action@v1
        with:
          lake-package-directory: "lean_content"
        
      - name: Run Verso
        working-directory: ./blog
        run: lake exe generate-blog

      - name: Docgen + blueprint + build website
        uses: jcreedcmu/docgen-action@ef6d9dc273d5b747d22cb87a569cd91924164168
        with: 
          blueprint: true
          api-docs: true
          lake-package-directory: "lean_content"
