name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read # Read access to repository contents
  pages: write # Write access to GitHub Pages
  id-token: write # Write access to ID tokens

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: jcreedcmu/docgen-action@2be5bc319536b0c76a341ce0e9684aa2e4832358
        with:
          lake-package-directory: "lean_content"
      - uses: jcreedcmu/docgen-action@9c86953a6199693f7efa18deb634e352e993e362
        with: 
          blueprint: true
          api-docs: true
          lake-package-directory: "lean_content"
